[Unit]
Description=Skynet
After=network.target

[Service]
ExecStart=/opt/skynet/server.py /opt/skynet/commands
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
