[Unit]
Description=Skynet
After=network.target

[Service]
ExecStart=/opt/skynet/server.py /opt/skynet/commands --port 80
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target
